<?xml version="1.0"?>
<launch>

  <!-- Launch Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_gym_ros)/launch/gym_bridge.rviz" output="screen" />

  <!-- Launch velocities -->
  <node name="velocities_node" pkg="velocities" type="velocities_node" output="screen">
    <param name="odometry_topic" value="/odom" />
  </node>

  <!-- Launch muretto
  <node name="muretto_node" pkg="muretto" type="muretto_node" output="screen">
    <param name="trajectory_path" value="$(find global_planner)/berlin/opt5.txt" />
    <param name="param_file" value="$(find muretto)/conf/settings.yaml" />
  </node>
  -->
  <!-- Launch rrt
  <node pkg="rrt" type="rrt_node" name="rrt_node" respawn="true" output="screen" >
    <param name="global_trajectory" value="$(find global_planner)/berlin/opt5.txt" />
  </node>
  -->
  <!-- Launch mpc -->
  <node pkg="mpc" type="ros_mpc_kin.py" name="ros_mpc_kin" respawn="true" output="screen" >
    <param name="global_trajectory" value="$(find global_planner)/berlin/opt5.txt" />
  </node>

</launch>